/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
  padding-left: 100px;
}

table {
  padding: 10px;
  width: 100%;
  
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}
